body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
    transition: background 0.3s color 0.3s;
}



header, nav, section, footer {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #0077cc;

}

.project {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

footer {
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
}
